@font-face {
    font-family: nunito-regular;
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: nunito-semibold;
    src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: nunito-bold;
    src: url(../fonts/Nunito-Bold.ttf);
}

html, body {
    font-family: 'nunito-bold', sans-serif;
    overflow-x: hidden;
    padding-top: 75px; 
}

h1, h2, h3, h4, h5 {
    font-size: 4em;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.likes{
    text-align: center;
    margin-right: -20px;
    padding-top: 10px;
}

.number{
    text-align: center;
    font-family: 'nunito-bold', sans-serif;
    font-size: 130%;
    color: black;
}

.glyphicon-heart{
    font-size: 130%;
}

.btn{
    font-size: 150%;
    background-color: #F4F4F4;
    border-radius: 12px;
}

.red{
    color: red
}

.head a{
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.name {
    display: inline;
}

.name p,
.name a{
    font-family: 'nunito-bold', sans-serif;
    font-size: 25px; 
    color: grey;
}

.reply {
    padding-top: 4px;
    font-size: 25px; 
    color: grey;
    float: left;
}

.head{
    display: block;
    position: fixed;
    width: 100%;
    background-color: #FFBD00;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out ;
}

.thread{
    background-color: #00C03D;
}

.head.sticky {
    padding-top: 0%;
    padding-bottom: 0%;
}

.head h1{
    text-align: center;
    color: white;
  }

.body{
    background-color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 1px solid #B2B2B2;
    border-bottom: 1px solid #B2B2B2;
}

.content{
    padding-right: 5%;
    font-size: 38px; 
    letter-spacing: -2px;
    line-height: 1.4em;
    color: black
}

.comments{
    padding-right: 5%;
    font-size: 32px; 
    letter-spacing: 0.001px;
    line-height: 1.4em;
    color: rgb(36, 36, 36);
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
    max-height: 80%;
    padding-top: 58%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
    display: block;
}